.header {
  z-index: 1000;
  padding: 3rem 1rem;

  &.active {
    padding: 2rem 0;
    background: $white !important;
    box-shadow: 0px 12px 13px 7px #ff542126;

    .navbar-brand {
      color: $black !important;
    }

    .navbar-nav a {
      color: $black !important;
    }
  }

  .navbar-brand {
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;

    span {
      color: $orange;
    }
  }

  button {
    color: transparent !important;
  }

  .navbar-toggler {
    svg {
      color: $orange;
      font-size: 2rem;
      border: none;
    }
  }

  // .navbar-collapse {
  //   background-color: $white;
  // }

  .navbar-nav a {
    font-size: 2rem;
    margin-left: 2rem;
    color: $white !important;

    &:hover {
      color: $orange !important;
    }
  }

  #navbar-toggler {
    font-size: 2.5rem;
    cursor: pointer;
    color: $white;
  }

  @media (max-width: 768px) {
    .header {
      padding: 2rem;

      &.active {
        padding: 2rem;
      }

      .navbar-nav {
        top: 99%;
        left: 0;
        right: 0;
        background: $white !important;
        padding: 1rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        a {
          color: $black;
          margin: 1rem 2rem;
        }

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }

      .navbar-toggler span {
        .fa-times {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// @media (max-width: 768px) {
//   .header {
//     padding: 2rem;

//     &.active {
//       padding: 2rem;
//     }

//     #menu-btn {
//       display: inline-block;

//       &.fa-times {
//         transform: rotate(180deg);
//       }
//     }
//     .nav {
//       position: absolute;
//       top: 99%;
//       left: 0;
//       right: 0;
//       background: $white;
//       padding: 1rem 0;
//       flex-flow: column;
//       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

//       &.active {
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//       }

//       a {
//         color: $black;
//         margin: 1rem 2rem;
//       }
//     }
//   }
// }
