.header {
  z-index: 1000;
  padding: 3rem 0;

  .navbar-brand {
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;

    span {
      color: $orange;
    }
  }

  .navbar-nav .nav-link {
    font-size: 2rem;
    margin-left: 2rem;
    color: $white;

    &:hover {
      color: $orange;
    }
  }
}

@media (max-width: 768px) {
  .header {
  }
}
